.services-page
    background-color: #2f2f2f
    height: 100%
.services-tabs
    background-color: #2f2f2f
    height: 100%
.services-tab 
    background: #2f2f2f none repeat scroll 0% 0% !important
    height: 100%