@mixin center 
    display: flex 
    flex-direction: column 
    justify-content: center
    align-content: center 
    align-items: center
    
#vs-user-account
    height: calc( 100vh - 61.5px )
    display: grid
    grid-template-areas: 'data img'
    color: var(--bs-light)
    > .vs-user-options
        grid-area: data
        @include center 
        > div 
            margin-bottom: 0.8rem
    > .vs-user-figure
        grid-area: img
        @include center 
        > figure > img 
            border-radius: 100%


#account-edit 
    color: var(--bs-light)
    height: calc( 100vh - 61.5px )
    display: flex 
    flex-direction: column 
    justify-content: center 
    align-items: center 
    align-content: center
    > #vs-edit-bg
        height: calc( 100vh - 61.5px )
    > #vs-edit-form
        position: absolute
    > a 
        position: absolute
        top: 5rem
        left: 1rem

#vs-account-login 
    color: var(--bs-light)
    height: calc( 100vh - 61.5px )
    width: 100%
    display: flex 
    flex-direction: column 
    justify-content: center 
    align-items: center 
    align-content: center
    > main 
        position: absolute
        display: flex 
        flex-direction: column 
        justify-content: center 
        align-content: center 
        align-items: center
        background: #181b20
        padding: 25px
        border-radius: 6px 
        z-index: 2
        > h2 
            margin-bottom: 2rem
        > div 
            &:first-child
                margin-left: 10px 
            &:last-child
                margin-right: 15px
            > button 
                cursor: pointer
            width: 50%
            justify-content: space-between
            display: flex 
            align-content: center 
            align-items: center
            margin-top: 1rem
            margin-bottom: 1rem
    > #vs-singin-bg
        height: calc( 100vh - 61.5px )
        width: 100%
        z-index: 1

@media screen and (max-width: 765px)
    #vs-user-account
        display: flex 
        flex-direction: column-reverse
        justify-content: flex-end
        > .vs-user-figure 
            margin-top: 1rem