#news 
    display: flex 
    flex-direction: row
    height: 100%
    > div
        margin-top: 1.5rem
        margin-left: 1rem
        scrollbar-width: thin    
        webkit-scrollbar-width: thin 
        overflow-y: scroll
        flex-basis: 92%
        display: flex 
        flex-direction: column
    > aside.options 
        flex-basis: 8%
        display: flex 
        flex-direction: column 
        > div 
            color: white
            padding: 10px 0 
            text-align: center
.news-markdown
    color: #EEE
    margin-right: 2rem

   