.container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100vh;
  justify-content: center;
  background: rgb(22,28,46);
  background: radial-gradient(circle, rgba(22,28,46,1) 0%, rgba(64,72,84,1) 100%, rgba(21,27,36,1) 100%); 
}
.container > h2 {
  margin-bottom: 0;
}
.container > hr {
  width: 20%;
  color: white;
}

.message {
  font-weight: lighter;
}
